<div class="row footer">
    <div class="col-md-4 col-sm-4 col-xs-12">
    	<div class="footer-parts-h3">Our Location</div>
        <div class="footer-parts-p">
        	333/7 Le Van Sy, Tan Binh District, Ho Chi Minh City
        </div>
        <div class="footer-parts-h3" style="color: red;">HotLine: 19001800</div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    	<div class="footer-parts-h3">Opening Hours</div>
        <div class="footer-parts-p">
        	Mon - Thu : 7:00 AM - 10:00 PM <br />
            Friday : 7:00 AM - 11:00 PM <br />
            Sat - Sun : 7:00 AM - 11:45 PM
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
    	<div class="footer-parts-h3">Contact the restaurant</div>
        <div class="footer-parts-p">
            <section class="footer">
                <div class="share">
                    <a href="https://www.facebook.com/nhahangLHNL" class="btn1">facebook</a>
                    <a href="https://www.instagram.com/food_make_with_love/?fbclid=IwAR2N3HkZtEQo0lD97nxsMWpOcZ0RTj8wXShECB3EqfgUPJtCvSIM3oNChEM" class="btn1">instagram</a>
                </div>
            
            </section>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
	<div class="footer-bottom">
        <div class="white">&copy; <script language="javascript" type="text/javascript">document.write(new Date().getFullYear());</script>. All rights reserved by LHNL</div>
    </div>
</div>


